/*
	Colors
*/

// Direct assigmments
$c-white: #fff !default;
$c-black: #1d2936 !default;
$c-black-true: #000 !default;
$c-red: #ed2024 !default;
$c-gray-light: #BBB !default;
$c-gray: #999 !default;
$c-gray-dark: #333 !default;
